In [1]:
## 1. Load a Csv File.
import pandas as pd
data = pd.read_csv("C:/Users/ASUS/OneDrive/Desktop/Internship/employees.csv")
print(data)

    EMPLOYEE_ID   FIRST_NAME    LAST_NAME     EMAIL  HIRE_DATE      JOB_ID  \
0           198       Donald     OConnell  DOCONNEL  21-Jun-07    SH_CLERK
1           199      Douglas        Grant    DGRANT  13-Jan-08    SH_CLERK
2           200     Jennifer       Whalen   JWHALEN  17-Sep-03     AD_ASST
3           201      Michael    Hartstein  MHARTSTE  17-Feb-04      MK_MAN
4           202          Pat          Fay      PFAY  17-Aug-05      MK_REP
5           203        Susan       Mavris   SMAVRIS  07-Jun-02      HR_REP
6           204      Hermann         Baer     HBAER  07-Jun-02      PR_REP
7           205      Shelley      Higgins  SHIGGINS  07-Jun-02      AC_MGR
8           206      William        Gietz    WGIETZ  07-Jun-02  AC_ACCOUNT
9           100       Steven         King     SKING  17-Jun-03     AD_PRES
10          101        Neena      Kochhar  NKOCHHAR  21-Sep-05       AD_VP
11          102          Lex      De Haan   LDEHAAN  13-Jan-01       AD_VP
12          103    Alexander       Hunold   AHUNOLD  03-Jan-06     IT_PROG
13          104        Bruce        Ernst    BERNST  21-May-07     IT_PROG
14          105        David       Austin   DAUSTIN  25-Jun-05     IT_PROG
15          106        Valli    Pataballa  VPATABAL  05-Feb-06     IT_PROG
16          107        Diana      Lorentz  DLORENTZ  07-Feb-07     IT_PROG
17          108        Nancy    Greenberg  NGREENBE  17-Aug-02      FI_MGR
18          109       Daniel       Faviet   DFAVIET  16-Aug-02  FI_ACCOUNT
19          110         John         Chen     JCHEN  28-Sep-05  FI_ACCOUNT
20          111       Ismael      Sciarra  ISCIARRA  30-Sep-05  FI_ACCOUNT
21          112  Jose Manuel        Urman   JMURMAN  07-Mar-06  FI_ACCOUNT
22          113         Luis         Popp     LPOPP  07-Dec-07  FI_ACCOUNT
23          114          Den     Raphaely  DRAPHEAL  07-Dec-02      PU_MAN
24          115    Alexander         Khoo     AKHOO  18-May-03    PU_CLERK
25          116       Shelli        Baida    SBAIDA  24-Dec-05    PU_CLERK
26          117        Sigal       Tobias   STOBIAS  24-Jul-05    PU_CLERK
27          118          Guy       Himuro   GHIMURO  15-Nov-06    PU_CLERK
28          119        Karen   Colmenares  KCOLMENA  10-Aug-07    PU_CLERK
29          120      Matthew        Weiss    MWEISS  18-Jul-04      ST_MAN
30          121         Adam        Fripp    AFRIPP  10-Apr-05      ST_MAN
31          122        Payam     Kaufling  PKAUFLIN  01-May-03      ST_MAN
32          123       Shanta      Vollman  SVOLLMAN  10-Oct-05      ST_MAN
33          124        Kevin      Mourgos  KMOURGOS  16-Nov-07      ST_MAN
34          125        Julia        Nayer    JNAYER  16-Jul-05    ST_CLERK
35          126        Irene  Mikkilineni  IMIKKILI  28-Sep-06    ST_CLERK
36          127        James       Landry   JLANDRY  14-Jan-07    ST_CLERK
37          128       Steven       Markle   SMARKLE  08-Mar-08    ST_CLERK
38          129        Laura       Bissot   LBISSOT  20-Aug-05    ST_CLERK
39          130        Mozhe     Atkinson  MATKINSO  30-Oct-05    ST_CLERK
40          131        James       Marlow   JAMRLOW  16-Feb-05    ST_CLERK
41          132           TJ        Olson   TJOLSON  10-Apr-07    ST_CLERK
42          133        Jason       Mallin   JMALLIN  14-Jun-04    ST_CLERK
43          134      Michael       Rogers   MROGERS  26-Aug-06    ST_CLERK
44          135           Ki          Gee      KGEE  12-Dec-07    ST_CLERK
45          136        Hazel   Philtanker  HPHILTAN  06-Feb-08    ST_CLERK
46          137       Renske       Ladwig   RLADWIG  14-Jul-03    ST_CLERK
47          138      Stephen       Stiles   SSTILES  26-Oct-05    ST_CLERK
48          139         John          Seo      JSEO  12-Feb-06    ST_CLERK
49          140       Joshua        Patel    JPATEL  06-Apr-06    ST_CLERK

    SALARY  MANAGER_ID  DEPARTMENT_ID  Phone Number
0     2600       124.0             50    6505079833
1     2600       124.0             50    6505079844
2     4400       101.0             10    5151234444
3    13000       100.0             20    5151235555
4     6000       201.0             20    6031236666
5     6500       101.0             40    5151237777
6    10000       101.0             70    5151238888
7    12008         NaN            110    5151238080
8     8300       205.0            110    5151238181
9    24000         NaN             90    5151234567
10   17000       100.0             90    5151234568
11   17000       100.0             90    5151234569
12    9000       102.0             60    5904234567
13    6000         NaN             60    5904234568
14    4800       103.0             60    5904234569
15    4800       103.0             60    5904234560
16    4200       103.0             60    5904235567
17   12008       101.0            100    5151244569
18    9000         NaN            100    5151244169
19    8200       108.0            100    5151244269
20    7700       108.0            100    5151244369
21    7800       108.0            100    5151244469
22    6900       108.0            100    5151244567
23   11000       100.0             30    5151274561
24    3100       114.0             30    5151274562
25    2900       114.0             30    5151274563
26    2800       114.0             30    5151274564
27    2600       114.0             30    5151274565
28    2500       114.0             30    5151274566
29    8000       100.0             50    6501231234
30    8200       100.0             50    6501232234
31    7900       100.0             50    6501233234
32    6500       100.0             50    6501234234
33    5800       100.0             50    6501235234
34    3200       120.0             50    6501241214
35    2700       120.0             50    6501241224
36    2400       120.0             50    6501241334
37    2200       120.0             50    6501241434
38    3300       121.0             50    6501245234
39    2800       121.0             50    6501246234
40    2500       121.0             50    6501247234
41    2100       121.0             50    6501248234
42    3300       122.0             50    6501271934
43    2900       122.0             50    6501271834
44    2400       122.0             50    6501271734
45    2200       122.0             50    6501271634
46    3600       123.0             50    6501211234
47    3200       123.0             50    6501212034
48    2700       123.0             50    6501212019
49    2500       123.0             50    6501211834

In [2]:
## 2.  Head & Tail Function.
print(data.head(10))
print("-"*80)
print(data.tail(10))

   EMPLOYEE_ID FIRST_NAME  LAST_NAME     EMAIL  HIRE_DATE      JOB_ID  SALARY  \
0          198     Donald   OConnell  DOCONNEL  21-Jun-07    SH_CLERK    2600
1          199    Douglas      Grant    DGRANT  13-Jan-08    SH_CLERK    2600
2          200   Jennifer     Whalen   JWHALEN  17-Sep-03     AD_ASST    4400
3          201    Michael  Hartstein  MHARTSTE  17-Feb-04      MK_MAN   13000
4          202        Pat        Fay      PFAY  17-Aug-05      MK_REP    6000
5          203      Susan     Mavris   SMAVRIS  07-Jun-02      HR_REP    6500
6          204    Hermann       Baer     HBAER  07-Jun-02      PR_REP   10000
7          205    Shelley    Higgins  SHIGGINS  07-Jun-02      AC_MGR   12008
8          206    William      Gietz    WGIETZ  07-Jun-02  AC_ACCOUNT    8300
9          100     Steven       King     SKING  17-Jun-03     AD_PRES   24000

   MANAGER_ID  DEPARTMENT_ID  Phone Number
0       124.0             50    6505079833
1       124.0             50    6505079844
2       101.0             10    5151234444
3       100.0             20    5151235555
4       201.0             20    6031236666
5       101.0             40    5151237777
6       101.0             70    5151238888
7         NaN            110    5151238080
8       205.0            110    5151238181
9         NaN             90    5151234567
--------------------------------------------------------------------------------
    EMPLOYEE_ID FIRST_NAME   LAST_NAME     EMAIL  HIRE_DATE    JOB_ID  SALARY  \
40          131      James      Marlow   JAMRLOW  16-Feb-05  ST_CLERK    2500
41          132         TJ       Olson   TJOLSON  10-Apr-07  ST_CLERK    2100
42          133      Jason      Mallin   JMALLIN  14-Jun-04  ST_CLERK    3300
43          134    Michael      Rogers   MROGERS  26-Aug-06  ST_CLERK    2900
44          135         Ki         Gee      KGEE  12-Dec-07  ST_CLERK    2400
45          136      Hazel  Philtanker  HPHILTAN  06-Feb-08  ST_CLERK    2200
46          137     Renske      Ladwig   RLADWIG  14-Jul-03  ST_CLERK    3600
47          138    Stephen      Stiles   SSTILES  26-Oct-05  ST_CLERK    3200
48          139       John         Seo      JSEO  12-Feb-06  ST_CLERK    2700
49          140     Joshua       Patel    JPATEL  06-Apr-06  ST_CLERK    2500

    MANAGER_ID  DEPARTMENT_ID  Phone Number
40       121.0             50    6501247234
41       121.0             50    6501248234
42       122.0             50    6501271934
43       122.0             50    6501271834
44       122.0             50    6501271734
45       122.0             50    6501271634
46       123.0             50    6501211234
47       123.0             50    6501212034
48       123.0             50    6501212019
49       123.0             50    6501211834

In [3]:
## 3(a). Dealing With Null Value.
print(data.isnull().sum())

EMPLOYEE_ID      0
FIRST_NAME       0
LAST_NAME        0
EMAIL            0
HIRE_DATE        0
JOB_ID           0
SALARY           0
MANAGER_ID       4
DEPARTMENT_ID    0
Phone Number     0
dtype: int64

In [4]:
## 3(b). Deleting Null Value.
print(data.dropna())

    EMPLOYEE_ID   FIRST_NAME    LAST_NAME     EMAIL  HIRE_DATE      JOB_ID  \
0           198       Donald     OConnell  DOCONNEL  21-Jun-07    SH_CLERK
1           199      Douglas        Grant    DGRANT  13-Jan-08    SH_CLERK
2           200     Jennifer       Whalen   JWHALEN  17-Sep-03     AD_ASST
3           201      Michael    Hartstein  MHARTSTE  17-Feb-04      MK_MAN
4           202          Pat          Fay      PFAY  17-Aug-05      MK_REP
5           203        Susan       Mavris   SMAVRIS  07-Jun-02      HR_REP
6           204      Hermann         Baer     HBAER  07-Jun-02      PR_REP
8           206      William        Gietz    WGIETZ  07-Jun-02  AC_ACCOUNT
10          101        Neena      Kochhar  NKOCHHAR  21-Sep-05       AD_VP
11          102          Lex      De Haan   LDEHAAN  13-Jan-01       AD_VP
12          103    Alexander       Hunold   AHUNOLD  03-Jan-06     IT_PROG
14          105        David       Austin   DAUSTIN  25-Jun-05     IT_PROG
15          106        Valli    Pataballa  VPATABAL  05-Feb-06     IT_PROG
16          107        Diana      Lorentz  DLORENTZ  07-Feb-07     IT_PROG
17          108        Nancy    Greenberg  NGREENBE  17-Aug-02      FI_MGR
19          110         John         Chen     JCHEN  28-Sep-05  FI_ACCOUNT
20          111       Ismael      Sciarra  ISCIARRA  30-Sep-05  FI_ACCOUNT
21          112  Jose Manuel        Urman   JMURMAN  07-Mar-06  FI_ACCOUNT
22          113         Luis         Popp     LPOPP  07-Dec-07  FI_ACCOUNT
23          114          Den     Raphaely  DRAPHEAL  07-Dec-02      PU_MAN
24          115    Alexander         Khoo     AKHOO  18-May-03    PU_CLERK
25          116       Shelli        Baida    SBAIDA  24-Dec-05    PU_CLERK
26          117        Sigal       Tobias   STOBIAS  24-Jul-05    PU_CLERK
27          118          Guy       Himuro   GHIMURO  15-Nov-06    PU_CLERK
28          119        Karen   Colmenares  KCOLMENA  10-Aug-07    PU_CLERK
29          120      Matthew        Weiss    MWEISS  18-Jul-04      ST_MAN
30          121         Adam        Fripp    AFRIPP  10-Apr-05      ST_MAN
31          122        Payam     Kaufling  PKAUFLIN  01-May-03      ST_MAN
32          123       Shanta      Vollman  SVOLLMAN  10-Oct-05      ST_MAN
33          124        Kevin      Mourgos  KMOURGOS  16-Nov-07      ST_MAN
34          125        Julia        Nayer    JNAYER  16-Jul-05    ST_CLERK
35          126        Irene  Mikkilineni  IMIKKILI  28-Sep-06    ST_CLERK
36          127        James       Landry   JLANDRY  14-Jan-07    ST_CLERK
37          128       Steven       Markle   SMARKLE  08-Mar-08    ST_CLERK
38          129        Laura       Bissot   LBISSOT  20-Aug-05    ST_CLERK
39          130        Mozhe     Atkinson  MATKINSO  30-Oct-05    ST_CLERK
40          131        James       Marlow   JAMRLOW  16-Feb-05    ST_CLERK
41          132           TJ        Olson   TJOLSON  10-Apr-07    ST_CLERK
42          133        Jason       Mallin   JMALLIN  14-Jun-04    ST_CLERK
43          134      Michael       Rogers   MROGERS  26-Aug-06    ST_CLERK
44          135           Ki          Gee      KGEE  12-Dec-07    ST_CLERK
45          136        Hazel   Philtanker  HPHILTAN  06-Feb-08    ST_CLERK
46          137       Renske       Ladwig   RLADWIG  14-Jul-03    ST_CLERK
47          138      Stephen       Stiles   SSTILES  26-Oct-05    ST_CLERK
48          139         John          Seo      JSEO  12-Feb-06    ST_CLERK
49          140       Joshua        Patel    JPATEL  06-Apr-06    ST_CLERK

    SALARY  MANAGER_ID  DEPARTMENT_ID  Phone Number
0     2600       124.0             50    6505079833
1     2600       124.0             50    6505079844
2     4400       101.0             10    5151234444
3    13000       100.0             20    5151235555
4     6000       201.0             20    6031236666
5     6500       101.0             40    5151237777
6    10000       101.0             70    5151238888
8     8300       205.0            110    5151238181
10   17000       100.0             90    5151234568
11   17000       100.0             90    5151234569
12    9000       102.0             60    5904234567
14    4800       103.0             60    5904234569
15    4800       103.0             60    5904234560
16    4200       103.0             60    5904235567
17   12008       101.0            100    5151244569
19    8200       108.0            100    5151244269
20    7700       108.0            100    5151244369
21    7800       108.0            100    5151244469
22    6900       108.0            100    5151244567
23   11000       100.0             30    5151274561
24    3100       114.0             30    5151274562
25    2900       114.0             30    5151274563
26    2800       114.0             30    5151274564
27    2600       114.0             30    5151274565
28    2500       114.0             30    5151274566
29    8000       100.0             50    6501231234
30    8200       100.0             50    6501232234
31    7900       100.0             50    6501233234
32    6500       100.0             50    6501234234
33    5800       100.0             50    6501235234
34    3200       120.0             50    6501241214
35    2700       120.0             50    6501241224
36    2400       120.0             50    6501241334
37    2200       120.0             50    6501241434
38    3300       121.0             50    6501245234
39    2800       121.0             50    6501246234
40    2500       121.0             50    6501247234
41    2100       121.0             50    6501248234
42    3300       122.0             50    6501271934
43    2900       122.0             50    6501271834
44    2400       122.0             50    6501271734
45    2200       122.0             50    6501271634
46    3600       123.0             50    6501211234
47    3200       123.0             50    6501212034
48    2700       123.0             50    6501212019
49    2500       123.0             50    6501211834

In [5]:
## 4(a). Ffill Function.
print(data.ffill())

    EMPLOYEE_ID   FIRST_NAME    LAST_NAME     EMAIL  HIRE_DATE      JOB_ID  \
0           198       Donald     OConnell  DOCONNEL  21-Jun-07    SH_CLERK
1           199      Douglas        Grant    DGRANT  13-Jan-08    SH_CLERK
2           200     Jennifer       Whalen   JWHALEN  17-Sep-03     AD_ASST
3           201      Michael    Hartstein  MHARTSTE  17-Feb-04      MK_MAN
4           202          Pat          Fay      PFAY  17-Aug-05      MK_REP
5           203        Susan       Mavris   SMAVRIS  07-Jun-02      HR_REP
6           204      Hermann         Baer     HBAER  07-Jun-02      PR_REP
7           205      Shelley      Higgins  SHIGGINS  07-Jun-02      AC_MGR
8           206      William        Gietz    WGIETZ  07-Jun-02  AC_ACCOUNT
9           100       Steven         King     SKING  17-Jun-03     AD_PRES
10          101        Neena      Kochhar  NKOCHHAR  21-Sep-05       AD_VP
11          102          Lex      De Haan   LDEHAAN  13-Jan-01       AD_VP
12          103    Alexander       Hunold   AHUNOLD  03-Jan-06     IT_PROG
13          104        Bruce        Ernst    BERNST  21-May-07     IT_PROG
14          105        David       Austin   DAUSTIN  25-Jun-05     IT_PROG
15          106        Valli    Pataballa  VPATABAL  05-Feb-06     IT_PROG
16          107        Diana      Lorentz  DLORENTZ  07-Feb-07     IT_PROG
17          108        Nancy    Greenberg  NGREENBE  17-Aug-02      FI_MGR
18          109       Daniel       Faviet   DFAVIET  16-Aug-02  FI_ACCOUNT
19          110         John         Chen     JCHEN  28-Sep-05  FI_ACCOUNT
20          111       Ismael      Sciarra  ISCIARRA  30-Sep-05  FI_ACCOUNT
21          112  Jose Manuel        Urman   JMURMAN  07-Mar-06  FI_ACCOUNT
22          113         Luis         Popp     LPOPP  07-Dec-07  FI_ACCOUNT
23          114          Den     Raphaely  DRAPHEAL  07-Dec-02      PU_MAN
24          115    Alexander         Khoo     AKHOO  18-May-03    PU_CLERK
25          116       Shelli        Baida    SBAIDA  24-Dec-05    PU_CLERK
26          117        Sigal       Tobias   STOBIAS  24-Jul-05    PU_CLERK
27          118          Guy       Himuro   GHIMURO  15-Nov-06    PU_CLERK
28          119        Karen   Colmenares  KCOLMENA  10-Aug-07    PU_CLERK
29          120      Matthew        Weiss    MWEISS  18-Jul-04      ST_MAN
30          121         Adam        Fripp    AFRIPP  10-Apr-05      ST_MAN
31          122        Payam     Kaufling  PKAUFLIN  01-May-03      ST_MAN
32          123       Shanta      Vollman  SVOLLMAN  10-Oct-05      ST_MAN
33          124        Kevin      Mourgos  KMOURGOS  16-Nov-07      ST_MAN
34          125        Julia        Nayer    JNAYER  16-Jul-05    ST_CLERK
35          126        Irene  Mikkilineni  IMIKKILI  28-Sep-06    ST_CLERK
36          127        James       Landry   JLANDRY  14-Jan-07    ST_CLERK
37          128       Steven       Markle   SMARKLE  08-Mar-08    ST_CLERK
38          129        Laura       Bissot   LBISSOT  20-Aug-05    ST_CLERK
39          130        Mozhe     Atkinson  MATKINSO  30-Oct-05    ST_CLERK
40          131        James       Marlow   JAMRLOW  16-Feb-05    ST_CLERK
41          132           TJ        Olson   TJOLSON  10-Apr-07    ST_CLERK
42          133        Jason       Mallin   JMALLIN  14-Jun-04    ST_CLERK
43          134      Michael       Rogers   MROGERS  26-Aug-06    ST_CLERK
44          135           Ki          Gee      KGEE  12-Dec-07    ST_CLERK
45          136        Hazel   Philtanker  HPHILTAN  06-Feb-08    ST_CLERK
46          137       Renske       Ladwig   RLADWIG  14-Jul-03    ST_CLERK
47          138      Stephen       Stiles   SSTILES  26-Oct-05    ST_CLERK
48          139         John          Seo      JSEO  12-Feb-06    ST_CLERK
49          140       Joshua        Patel    JPATEL  06-Apr-06    ST_CLERK

    SALARY  MANAGER_ID  DEPARTMENT_ID  Phone Number
0     2600       124.0             50    6505079833
1     2600       124.0             50    6505079844
2     4400       101.0             10    5151234444
3    13000       100.0             20    5151235555
4     6000       201.0             20    6031236666
5     6500       101.0             40    5151237777
6    10000       101.0             70    5151238888
7    12008       101.0            110    5151238080
8     8300       205.0            110    5151238181
9    24000       205.0             90    5151234567
10   17000       100.0             90    5151234568
11   17000       100.0             90    5151234569
12    9000       102.0             60    5904234567
13    6000       102.0             60    5904234568
14    4800       103.0             60    5904234569
15    4800       103.0             60    5904234560
16    4200       103.0             60    5904235567
17   12008       101.0            100    5151244569
18    9000       101.0            100    5151244169
19    8200       108.0            100    5151244269
20    7700       108.0            100    5151244369
21    7800       108.0            100    5151244469
22    6900       108.0            100    5151244567
23   11000       100.0             30    5151274561
24    3100       114.0             30    5151274562
25    2900       114.0             30    5151274563
26    2800       114.0             30    5151274564
27    2600       114.0             30    5151274565
28    2500       114.0             30    5151274566
29    8000       100.0             50    6501231234
30    8200       100.0             50    6501232234
31    7900       100.0             50    6501233234
32    6500       100.0             50    6501234234
33    5800       100.0             50    6501235234
34    3200       120.0             50    6501241214
35    2700       120.0             50    6501241224
36    2400       120.0             50    6501241334
37    2200       120.0             50    6501241434
38    3300       121.0             50    6501245234
39    2800       121.0             50    6501246234
40    2500       121.0             50    6501247234
41    2100       121.0             50    6501248234
42    3300       122.0             50    6501271934
43    2900       122.0             50    6501271834
44    2400       122.0             50    6501271734
45    2200       122.0             50    6501271634
46    3600       123.0             50    6501211234
47    3200       123.0             50    6501212034
48    2700       123.0             50    6501212019
49    2500       123.0             50    6501211834

In [6]:
## 4(b). Bfill Function.
print(data.bfill())

    EMPLOYEE_ID   FIRST_NAME    LAST_NAME     EMAIL  HIRE_DATE      JOB_ID  \
0           198       Donald     OConnell  DOCONNEL  21-Jun-07    SH_CLERK
1           199      Douglas        Grant    DGRANT  13-Jan-08    SH_CLERK
2           200     Jennifer       Whalen   JWHALEN  17-Sep-03     AD_ASST
3           201      Michael    Hartstein  MHARTSTE  17-Feb-04      MK_MAN
4           202          Pat          Fay      PFAY  17-Aug-05      MK_REP
5           203        Susan       Mavris   SMAVRIS  07-Jun-02      HR_REP
6           204      Hermann         Baer     HBAER  07-Jun-02      PR_REP
7           205      Shelley      Higgins  SHIGGINS  07-Jun-02      AC_MGR
8           206      William        Gietz    WGIETZ  07-Jun-02  AC_ACCOUNT
9           100       Steven         King     SKING  17-Jun-03     AD_PRES
10          101        Neena      Kochhar  NKOCHHAR  21-Sep-05       AD_VP
11          102          Lex      De Haan   LDEHAAN  13-Jan-01       AD_VP
12          103    Alexander       Hunold   AHUNOLD  03-Jan-06     IT_PROG
13          104        Bruce        Ernst    BERNST  21-May-07     IT_PROG
14          105        David       Austin   DAUSTIN  25-Jun-05     IT_PROG
15          106        Valli    Pataballa  VPATABAL  05-Feb-06     IT_PROG
16          107        Diana      Lorentz  DLORENTZ  07-Feb-07     IT_PROG
17          108        Nancy    Greenberg  NGREENBE  17-Aug-02      FI_MGR
18          109       Daniel       Faviet   DFAVIET  16-Aug-02  FI_ACCOUNT
19          110         John         Chen     JCHEN  28-Sep-05  FI_ACCOUNT
20          111       Ismael      Sciarra  ISCIARRA  30-Sep-05  FI_ACCOUNT
21          112  Jose Manuel        Urman   JMURMAN  07-Mar-06  FI_ACCOUNT
22          113         Luis         Popp     LPOPP  07-Dec-07  FI_ACCOUNT
23          114          Den     Raphaely  DRAPHEAL  07-Dec-02      PU_MAN
24          115    Alexander         Khoo     AKHOO  18-May-03    PU_CLERK
25          116       Shelli        Baida    SBAIDA  24-Dec-05    PU_CLERK
26          117        Sigal       Tobias   STOBIAS  24-Jul-05    PU_CLERK
27          118          Guy       Himuro   GHIMURO  15-Nov-06    PU_CLERK
28          119        Karen   Colmenares  KCOLMENA  10-Aug-07    PU_CLERK
29          120      Matthew        Weiss    MWEISS  18-Jul-04      ST_MAN
30          121         Adam        Fripp    AFRIPP  10-Apr-05      ST_MAN
31          122        Payam     Kaufling  PKAUFLIN  01-May-03      ST_MAN
32          123       Shanta      Vollman  SVOLLMAN  10-Oct-05      ST_MAN
33          124        Kevin      Mourgos  KMOURGOS  16-Nov-07      ST_MAN
34          125        Julia        Nayer    JNAYER  16-Jul-05    ST_CLERK
35          126        Irene  Mikkilineni  IMIKKILI  28-Sep-06    ST_CLERK
36          127        James       Landry   JLANDRY  14-Jan-07    ST_CLERK
37          128       Steven       Markle   SMARKLE  08-Mar-08    ST_CLERK
38          129        Laura       Bissot   LBISSOT  20-Aug-05    ST_CLERK
39          130        Mozhe     Atkinson  MATKINSO  30-Oct-05    ST_CLERK
40          131        James       Marlow   JAMRLOW  16-Feb-05    ST_CLERK
41          132           TJ        Olson   TJOLSON  10-Apr-07    ST_CLERK
42          133        Jason       Mallin   JMALLIN  14-Jun-04    ST_CLERK
43          134      Michael       Rogers   MROGERS  26-Aug-06    ST_CLERK
44          135           Ki          Gee      KGEE  12-Dec-07    ST_CLERK
45          136        Hazel   Philtanker  HPHILTAN  06-Feb-08    ST_CLERK
46          137       Renske       Ladwig   RLADWIG  14-Jul-03    ST_CLERK
47          138      Stephen       Stiles   SSTILES  26-Oct-05    ST_CLERK
48          139         John          Seo      JSEO  12-Feb-06    ST_CLERK
49          140       Joshua        Patel    JPATEL  06-Apr-06    ST_CLERK

    SALARY  MANAGER_ID  DEPARTMENT_ID  Phone Number
0     2600       124.0             50    6505079833
1     2600       124.0             50    6505079844
2     4400       101.0             10    5151234444
3    13000       100.0             20    5151235555
4     6000       201.0             20    6031236666
5     6500       101.0             40    5151237777
6    10000       101.0             70    5151238888
7    12008       205.0            110    5151238080
8     8300       205.0            110    5151238181
9    24000       100.0             90    5151234567
10   17000       100.0             90    5151234568
11   17000       100.0             90    5151234569
12    9000       102.0             60    5904234567
13    6000       103.0             60    5904234568
14    4800       103.0             60    5904234569
15    4800       103.0             60    5904234560
16    4200       103.0             60    5904235567
17   12008       101.0            100    5151244569
18    9000       108.0            100    5151244169
19    8200       108.0            100    5151244269
20    7700       108.0            100    5151244369
21    7800       108.0            100    5151244469
22    6900       108.0            100    5151244567
23   11000       100.0             30    5151274561
24    3100       114.0             30    5151274562
25    2900       114.0             30    5151274563
26    2800       114.0             30    5151274564
27    2600       114.0             30    5151274565
28    2500       114.0             30    5151274566
29    8000       100.0             50    6501231234
30    8200       100.0             50    6501232234
31    7900       100.0             50    6501233234
32    6500       100.0             50    6501234234
33    5800       100.0             50    6501235234
34    3200       120.0             50    6501241214
35    2700       120.0             50    6501241224
36    2400       120.0             50    6501241334
37    2200       120.0             50    6501241434
38    3300       121.0             50    6501245234
39    2800       121.0             50    6501246234
40    2500       121.0             50    6501247234
41    2100       121.0             50    6501248234
42    3300       122.0             50    6501271934
43    2900       122.0             50    6501271834
44    2400       122.0             50    6501271734
45    2200       122.0             50    6501271634
46    3600       123.0             50    6501211234
47    3200       123.0             50    6501212034
48    2700       123.0             50    6501212019
49    2500       123.0             50    6501211834

In [7]:
## 5(a). Dealing with Duplicate Value.
print(data["MANAGER_ID"].duplicated().sum())

36

In [8]:
## 5(b). Deleting Duplicate Value.
print(data.drop_duplicates("MANAGER_ID"))

    EMPLOYEE_ID FIRST_NAME  LAST_NAME     EMAIL  HIRE_DATE      JOB_ID  \
0           198     Donald   OConnell  DOCONNEL  21-Jun-07    SH_CLERK
2           200   Jennifer     Whalen   JWHALEN  17-Sep-03     AD_ASST
3           201    Michael  Hartstein  MHARTSTE  17-Feb-04      MK_MAN
4           202        Pat        Fay      PFAY  17-Aug-05      MK_REP
7           205    Shelley    Higgins  SHIGGINS  07-Jun-02      AC_MGR
8           206    William      Gietz    WGIETZ  07-Jun-02  AC_ACCOUNT
12          103  Alexander     Hunold   AHUNOLD  03-Jan-06     IT_PROG
14          105      David     Austin   DAUSTIN  25-Jun-05     IT_PROG
19          110       John       Chen     JCHEN  28-Sep-05  FI_ACCOUNT
24          115  Alexander       Khoo     AKHOO  18-May-03    PU_CLERK
34          125      Julia      Nayer    JNAYER  16-Jul-05    ST_CLERK
38          129      Laura     Bissot   LBISSOT  20-Aug-05    ST_CLERK
42          133      Jason     Mallin   JMALLIN  14-Jun-04    ST_CLERK
46          137     Renske     Ladwig   RLADWIG  14-Jul-03    ST_CLERK

    SALARY  MANAGER_ID  DEPARTMENT_ID  Phone Number
0     2600       124.0             50    6505079833
2     4400       101.0             10    5151234444
3    13000       100.0             20    5151235555
4     6000       201.0             20    6031236666
7    12008         NaN            110    5151238080
8     8300       205.0            110    5151238181
12    9000       102.0             60    5904234567
14    4800       103.0             60    5904234569
19    8200       108.0            100    5151244269
24    3100       114.0             30    5151274562
34    3200       120.0             50    6501241214
38    3300       121.0             50    6501245234
42    3300       122.0             50    6501271934
46    3600       123.0             50    6501211234

In [9]:
## 6(a). Adding New Column.
data.loc[(data["SALARY"] >= 11000),"GET_BONUS"] = "No-Bonus"
data.loc[(data["SALARY"] <11000),"GET_BONUS"] = "Bonus"
print(data)

    EMPLOYEE_ID   FIRST_NAME    LAST_NAME     EMAIL  HIRE_DATE      JOB_ID  \
0           198       Donald     OConnell  DOCONNEL  21-Jun-07    SH_CLERK
1           199      Douglas        Grant    DGRANT  13-Jan-08    SH_CLERK
2           200     Jennifer       Whalen   JWHALEN  17-Sep-03     AD_ASST
3           201      Michael    Hartstein  MHARTSTE  17-Feb-04      MK_MAN
4           202          Pat          Fay      PFAY  17-Aug-05      MK_REP
5           203        Susan       Mavris   SMAVRIS  07-Jun-02      HR_REP
6           204      Hermann         Baer     HBAER  07-Jun-02      PR_REP
7           205      Shelley      Higgins  SHIGGINS  07-Jun-02      AC_MGR
8           206      William        Gietz    WGIETZ  07-Jun-02  AC_ACCOUNT
9           100       Steven         King     SKING  17-Jun-03     AD_PRES
10          101        Neena      Kochhar  NKOCHHAR  21-Sep-05       AD_VP
11          102          Lex      De Haan   LDEHAAN  13-Jan-01       AD_VP
12          103    Alexander       Hunold   AHUNOLD  03-Jan-06     IT_PROG
13          104        Bruce        Ernst    BERNST  21-May-07     IT_PROG
14          105        David       Austin   DAUSTIN  25-Jun-05     IT_PROG
15          106        Valli    Pataballa  VPATABAL  05-Feb-06     IT_PROG
16          107        Diana      Lorentz  DLORENTZ  07-Feb-07     IT_PROG
17          108        Nancy    Greenberg  NGREENBE  17-Aug-02      FI_MGR
18          109       Daniel       Faviet   DFAVIET  16-Aug-02  FI_ACCOUNT
19          110         John         Chen     JCHEN  28-Sep-05  FI_ACCOUNT
20          111       Ismael      Sciarra  ISCIARRA  30-Sep-05  FI_ACCOUNT
21          112  Jose Manuel        Urman   JMURMAN  07-Mar-06  FI_ACCOUNT
22          113         Luis         Popp     LPOPP  07-Dec-07  FI_ACCOUNT
23          114          Den     Raphaely  DRAPHEAL  07-Dec-02      PU_MAN
24          115    Alexander         Khoo     AKHOO  18-May-03    PU_CLERK
25          116       Shelli        Baida    SBAIDA  24-Dec-05    PU_CLERK
26          117        Sigal       Tobias   STOBIAS  24-Jul-05    PU_CLERK
27          118          Guy       Himuro   GHIMURO  15-Nov-06    PU_CLERK
28          119        Karen   Colmenares  KCOLMENA  10-Aug-07    PU_CLERK
29          120      Matthew        Weiss    MWEISS  18-Jul-04      ST_MAN
30          121         Adam        Fripp    AFRIPP  10-Apr-05      ST_MAN
31          122        Payam     Kaufling  PKAUFLIN  01-May-03      ST_MAN
32          123       Shanta      Vollman  SVOLLMAN  10-Oct-05      ST_MAN
33          124        Kevin      Mourgos  KMOURGOS  16-Nov-07      ST_MAN
34          125        Julia        Nayer    JNAYER  16-Jul-05    ST_CLERK
35          126        Irene  Mikkilineni  IMIKKILI  28-Sep-06    ST_CLERK
36          127        James       Landry   JLANDRY  14-Jan-07    ST_CLERK
37          128       Steven       Markle   SMARKLE  08-Mar-08    ST_CLERK
38          129        Laura       Bissot   LBISSOT  20-Aug-05    ST_CLERK
39          130        Mozhe     Atkinson  MATKINSO  30-Oct-05    ST_CLERK
40          131        James       Marlow   JAMRLOW  16-Feb-05    ST_CLERK
41          132           TJ        Olson   TJOLSON  10-Apr-07    ST_CLERK
42          133        Jason       Mallin   JMALLIN  14-Jun-04    ST_CLERK
43          134      Michael       Rogers   MROGERS  26-Aug-06    ST_CLERK
44          135           Ki          Gee      KGEE  12-Dec-07    ST_CLERK
45          136        Hazel   Philtanker  HPHILTAN  06-Feb-08    ST_CLERK
46          137       Renske       Ladwig   RLADWIG  14-Jul-03    ST_CLERK
47          138      Stephen       Stiles   SSTILES  26-Oct-05    ST_CLERK
48          139         John          Seo      JSEO  12-Feb-06    ST_CLERK
49          140       Joshua        Patel    JPATEL  06-Apr-06    ST_CLERK

    SALARY  MANAGER_ID  DEPARTMENT_ID  Phone Number GET_BONUS
0     2600       124.0             50    6505079833     Bonus
1     2600       124.0             50    6505079844     Bonus
2     4400       101.0             10    5151234444     Bonus
3    13000       100.0             20    5151235555  No-Bonus
4     6000       201.0             20    6031236666     Bonus
5     6500       101.0             40    5151237777     Bonus
6    10000       101.0             70    5151238888     Bonus
7    12008         NaN            110    5151238080  No-Bonus
8     8300       205.0            110    5151238181     Bonus
9    24000         NaN             90    5151234567  No-Bonus
10   17000       100.0             90    5151234568  No-Bonus
11   17000       100.0             90    5151234569  No-Bonus
12    9000       102.0             60    5904234567     Bonus
13    6000         NaN             60    5904234568     Bonus
14    4800       103.0             60    5904234569     Bonus
15    4800       103.0             60    5904234560     Bonus
16    4200       103.0             60    5904235567     Bonus
17   12008       101.0            100    5151244569  No-Bonus
18    9000         NaN            100    5151244169     Bonus
19    8200       108.0            100    5151244269     Bonus
20    7700       108.0            100    5151244369     Bonus
21    7800       108.0            100    5151244469     Bonus
22    6900       108.0            100    5151244567     Bonus
23   11000       100.0             30    5151274561  No-Bonus
24    3100       114.0             30    5151274562     Bonus
25    2900       114.0             30    5151274563     Bonus
26    2800       114.0             30    5151274564     Bonus
27    2600       114.0             30    5151274565     Bonus
28    2500       114.0             30    5151274566     Bonus
29    8000       100.0             50    6501231234     Bonus
30    8200       100.0             50    6501232234     Bonus
31    7900       100.0             50    6501233234     Bonus
32    6500       100.0             50    6501234234     Bonus
33    5800       100.0             50    6501235234     Bonus
34    3200       120.0             50    6501241214     Bonus
35    2700       120.0             50    6501241224     Bonus
36    2400       120.0             50    6501241334     Bonus
37    2200       120.0             50    6501241434     Bonus
38    3300       121.0             50    6501245234     Bonus
39    2800       121.0             50    6501246234     Bonus
40    2500       121.0             50    6501247234     Bonus
41    2100       121.0             50    6501248234     Bonus
42    3300       122.0             50    6501271934     Bonus
43    2900       122.0             50    6501271834     Bonus
44    2400       122.0             50    6501271734     Bonus
45    2200       122.0             50    6501271634     Bonus
46    3600       123.0             50    6501211234     Bonus
47    3200       123.0             50    6501212034     Bonus
48    2700       123.0             50    6501212019     Bonus
49    2500       123.0             50    6501211834     Bonus

In [10]:
## 6(b). Adding a new Column.
data["FULL_NAME"] = data["FIRST_NAME"] + " " + data["LAST_NAME"]
print(data)

    EMPLOYEE_ID   FIRST_NAME    LAST_NAME     EMAIL  HIRE_DATE      JOB_ID  \
0           198       Donald     OConnell  DOCONNEL  21-Jun-07    SH_CLERK
1           199      Douglas        Grant    DGRANT  13-Jan-08    SH_CLERK
2           200     Jennifer       Whalen   JWHALEN  17-Sep-03     AD_ASST
3           201      Michael    Hartstein  MHARTSTE  17-Feb-04      MK_MAN
4           202          Pat          Fay      PFAY  17-Aug-05      MK_REP
5           203        Susan       Mavris   SMAVRIS  07-Jun-02      HR_REP
6           204      Hermann         Baer     HBAER  07-Jun-02      PR_REP
7           205      Shelley      Higgins  SHIGGINS  07-Jun-02      AC_MGR
8           206      William        Gietz    WGIETZ  07-Jun-02  AC_ACCOUNT
9           100       Steven         King     SKING  17-Jun-03     AD_PRES
10          101        Neena      Kochhar  NKOCHHAR  21-Sep-05       AD_VP
11          102          Lex      De Haan   LDEHAAN  13-Jan-01       AD_VP
12          103    Alexander       Hunold   AHUNOLD  03-Jan-06     IT_PROG
13          104        Bruce        Ernst    BERNST  21-May-07     IT_PROG
14          105        David       Austin   DAUSTIN  25-Jun-05     IT_PROG
15          106        Valli    Pataballa  VPATABAL  05-Feb-06     IT_PROG
16          107        Diana      Lorentz  DLORENTZ  07-Feb-07     IT_PROG
17          108        Nancy    Greenberg  NGREENBE  17-Aug-02      FI_MGR
18          109       Daniel       Faviet   DFAVIET  16-Aug-02  FI_ACCOUNT
19          110         John         Chen     JCHEN  28-Sep-05  FI_ACCOUNT
20          111       Ismael      Sciarra  ISCIARRA  30-Sep-05  FI_ACCOUNT
21          112  Jose Manuel        Urman   JMURMAN  07-Mar-06  FI_ACCOUNT
22          113         Luis         Popp     LPOPP  07-Dec-07  FI_ACCOUNT
23          114          Den     Raphaely  DRAPHEAL  07-Dec-02      PU_MAN
24          115    Alexander         Khoo     AKHOO  18-May-03    PU_CLERK
25          116       Shelli        Baida    SBAIDA  24-Dec-05    PU_CLERK
26          117        Sigal       Tobias   STOBIAS  24-Jul-05    PU_CLERK
27          118          Guy       Himuro   GHIMURO  15-Nov-06    PU_CLERK
28          119        Karen   Colmenares  KCOLMENA  10-Aug-07    PU_CLERK
29          120      Matthew        Weiss    MWEISS  18-Jul-04      ST_MAN
30          121         Adam        Fripp    AFRIPP  10-Apr-05      ST_MAN
31          122        Payam     Kaufling  PKAUFLIN  01-May-03      ST_MAN
32          123       Shanta      Vollman  SVOLLMAN  10-Oct-05      ST_MAN
33          124        Kevin      Mourgos  KMOURGOS  16-Nov-07      ST_MAN
34          125        Julia        Nayer    JNAYER  16-Jul-05    ST_CLERK
35          126        Irene  Mikkilineni  IMIKKILI  28-Sep-06    ST_CLERK
36          127        James       Landry   JLANDRY  14-Jan-07    ST_CLERK
37          128       Steven       Markle   SMARKLE  08-Mar-08    ST_CLERK
38          129        Laura       Bissot   LBISSOT  20-Aug-05    ST_CLERK
39          130        Mozhe     Atkinson  MATKINSO  30-Oct-05    ST_CLERK
40          131        James       Marlow   JAMRLOW  16-Feb-05    ST_CLERK
41          132           TJ        Olson   TJOLSON  10-Apr-07    ST_CLERK
42          133        Jason       Mallin   JMALLIN  14-Jun-04    ST_CLERK
43          134      Michael       Rogers   MROGERS  26-Aug-06    ST_CLERK
44          135           Ki          Gee      KGEE  12-Dec-07    ST_CLERK
45          136        Hazel   Philtanker  HPHILTAN  06-Feb-08    ST_CLERK
46          137       Renske       Ladwig   RLADWIG  14-Jul-03    ST_CLERK
47          138      Stephen       Stiles   SSTILES  26-Oct-05    ST_CLERK
48          139         John          Seo      JSEO  12-Feb-06    ST_CLERK
49          140       Joshua        Patel    JPATEL  06-Apr-06    ST_CLERK

    SALARY  MANAGER_ID  DEPARTMENT_ID  Phone Number GET_BONUS  \
0     2600       124.0             50    6505079833     Bonus
1     2600       124.0             50    6505079844     Bonus
2     4400       101.0             10    5151234444     Bonus
3    13000       100.0             20    5151235555  No-Bonus
4     6000       201.0             20    6031236666     Bonus
5     6500       101.0             40    5151237777     Bonus
6    10000       101.0             70    5151238888     Bonus
7    12008         NaN            110    5151238080  No-Bonus
8     8300       205.0            110    5151238181     Bonus
9    24000         NaN             90    5151234567  No-Bonus
10   17000       100.0             90    5151234568  No-Bonus
11   17000       100.0             90    5151234569  No-Bonus
12    9000       102.0             60    5904234567     Bonus
13    6000         NaN             60    5904234568     Bonus
14    4800       103.0             60    5904234569     Bonus
15    4800       103.0             60    5904234560     Bonus
16    4200       103.0             60    5904235567     Bonus
17   12008       101.0            100    5151244569  No-Bonus
18    9000         NaN            100    5151244169     Bonus
19    8200       108.0            100    5151244269     Bonus
20    7700       108.0            100    5151244369     Bonus
21    7800       108.0            100    5151244469     Bonus
22    6900       108.0            100    5151244567     Bonus
23   11000       100.0             30    5151274561  No-Bonus
24    3100       114.0             30    5151274562     Bonus
25    2900       114.0             30    5151274563     Bonus
26    2800       114.0             30    5151274564     Bonus
27    2600       114.0             30    5151274565     Bonus
28    2500       114.0             30    5151274566     Bonus
29    8000       100.0             50    6501231234     Bonus
30    8200       100.0             50    6501232234     Bonus
31    7900       100.0             50    6501233234     Bonus
32    6500       100.0             50    6501234234     Bonus
33    5800       100.0             50    6501235234     Bonus
34    3200       120.0             50    6501241214     Bonus
35    2700       120.0             50    6501241224     Bonus
36    2400       120.0             50    6501241334     Bonus
37    2200       120.0             50    6501241434     Bonus
38    3300       121.0             50    6501245234     Bonus
39    2800       121.0             50    6501246234     Bonus
40    2500       121.0             50    6501247234     Bonus
41    2100       121.0             50    6501248234     Bonus
42    3300       122.0             50    6501271934     Bonus
43    2900       122.0             50    6501271834     Bonus
44    2400       122.0             50    6501271734     Bonus
45    2200       122.0             50    6501271634     Bonus
46    3600       123.0             50    6501211234     Bonus
47    3200       123.0             50    6501212034     Bonus
48    2700       123.0             50    6501212019     Bonus
49    2500       123.0             50    6501211834     Bonus

            FULL_NAME
0     Donald OConnell
1       Douglas Grant
2     Jennifer Whalen
3   Michael Hartstein
4             Pat Fay
5        Susan Mavris
6        Hermann Baer
7     Shelley Higgins
8       William Gietz
9         Steven King
10      Neena Kochhar
11        Lex De Haan
12   Alexander Hunold
13        Bruce Ernst
14       David Austin
15    Valli Pataballa
16      Diana Lorentz
17    Nancy Greenberg
18      Daniel Faviet
19          John Chen
20     Ismael Sciarra
21  Jose Manuel Urman
22          Luis Popp
23       Den Raphaely
24     Alexander Khoo
25       Shelli Baida
26       Sigal Tobias
27         Guy Himuro
28   Karen Colmenares
29      Matthew Weiss
30         Adam Fripp
31     Payam Kaufling
32     Shanta Vollman
33      Kevin Mourgos
34        Julia Nayer
35  Irene Mikkilineni
36       James Landry
37      Steven Markle
38       Laura Bissot
39     Mozhe Atkinson
40       James Marlow
41           TJ Olson
42       Jason Mallin
43     Michael Rogers
44             Ki Gee
45   Hazel Philtanker
46      Renske Ladwig
47     Stephen Stiles
48           John Seo
49       Joshua Patel

In [11]:
## 7(a). Finding Mean.
print(data["SALARY"].mean())

6182.32

In [12]:
## 7(b). Finding Summ.
print(data["SALARY"].sum())

309116

In [13]:
## 7(c). Max Function.
print(data["SALARY"].max())

24000

In [14]:
## 7(d). Min Function.
print(data["SALARY"].min())

2100

In [15]:
## 7(e). Info Function.
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   EMPLOYEE_ID    50 non-null     int64
 1   FIRST_NAME     50 non-null     object
 2   LAST_NAME      50 non-null     object
 3   EMAIL          50 non-null     object
 4   HIRE_DATE      50 non-null     object
 5   JOB_ID         50 non-null     object
 6   SALARY         50 non-null     int64
 7   MANAGER_ID     46 non-null     float64
 8   DEPARTMENT_ID  50 non-null     int64
 9   Phone Number   50 non-null     int64
 10  GET_BONUS      50 non-null     object
 11  FULL_NAME      50 non-null     object
dtypes: float64(1), int64(4), object(7)
memory usage: 4.8+ KB
None

In [16]:
## 7(f). Describe Function.
print(data.describe())

       EMPLOYEE_ID        SALARY  MANAGER_ID  DEPARTMENT_ID  Phone Number
count    50.000000     50.000000   46.000000       50.00000  5.000000e+01
mean    134.760000   6182.320000  115.543478       57.60000  5.865297e+09
std      33.631594   4586.181772   21.056228       25.11687  6.397354e+08
min     100.000000   2100.000000  100.000000       10.00000  5.151234e+09
25%     112.250000   2725.000000  101.000000       50.00000  5.151244e+09
50%     124.500000   4600.000000  114.000000       50.00000  5.904235e+09
75%     136.750000   8150.000000  121.750000       60.00000  6.501241e+09
max     206.000000  24000.000000  205.000000      110.00000  6.505080e+09

In [17]:
## 8. GRoupby Function.
# print(data)
gp = data.groupby("JOB_ID").agg({"EMPLOYEE_ID":"count"})
print(gp)

            EMPLOYEE_ID
JOB_ID
AC_ACCOUNT            1
AC_MGR                1
AD_ASST               1
AD_PRES               1
AD_VP                 2
FI_ACCOUNT            5
FI_MGR                1
HR_REP                1
IT_PROG               5
MK_MAN                1
MK_REP                1
PR_REP                1
PU_CLERK              5
PU_MAN                1
SH_CLERK              2
ST_CLERK             16
ST_MAN                5

In [18]:
## 9.  Pivot Table.
pt = data.pivot(index = "EMPLOYEE_ID",columns = "JOB_ID",values = "SALARY")
print(pt)

JOB_ID       AC_ACCOUNT   AC_MGR  AD_ASST  AD_PRES    AD_VP  FI_ACCOUNT  \
EMPLOYEE_ID
100                 NaN      NaN      NaN  24000.0      NaN         NaN
101                 NaN      NaN      NaN      NaN  17000.0         NaN
102                 NaN      NaN      NaN      NaN  17000.0         NaN
103                 NaN      NaN      NaN      NaN      NaN         NaN
104                 NaN      NaN      NaN      NaN      NaN         NaN
105                 NaN      NaN      NaN      NaN      NaN         NaN
106                 NaN      NaN      NaN      NaN      NaN         NaN
107                 NaN      NaN      NaN      NaN      NaN         NaN
108                 NaN      NaN      NaN      NaN      NaN         NaN
109                 NaN      NaN      NaN      NaN      NaN      9000.0
110                 NaN      NaN      NaN      NaN      NaN      8200.0
111                 NaN      NaN      NaN      NaN      NaN      7700.0
112                 NaN      NaN      NaN      NaN      NaN      7800.0
113                 NaN      NaN      NaN      NaN      NaN      6900.0
114                 NaN      NaN      NaN      NaN      NaN         NaN
115                 NaN      NaN      NaN      NaN      NaN         NaN
116                 NaN      NaN      NaN      NaN      NaN         NaN
117                 NaN      NaN      NaN      NaN      NaN         NaN
118                 NaN      NaN      NaN      NaN      NaN         NaN
119                 NaN      NaN      NaN      NaN      NaN         NaN
120                 NaN      NaN      NaN      NaN      NaN         NaN
121                 NaN      NaN      NaN      NaN      NaN         NaN
122                 NaN      NaN      NaN      NaN      NaN         NaN
123                 NaN      NaN      NaN      NaN      NaN         NaN
124                 NaN      NaN      NaN      NaN      NaN         NaN
125                 NaN      NaN      NaN      NaN      NaN         NaN
126                 NaN      NaN      NaN      NaN      NaN         NaN
127                 NaN      NaN      NaN      NaN      NaN         NaN
128                 NaN      NaN      NaN      NaN      NaN         NaN
129                 NaN      NaN      NaN      NaN      NaN         NaN
130                 NaN      NaN      NaN      NaN      NaN         NaN
131                 NaN      NaN      NaN      NaN      NaN         NaN
132                 NaN      NaN      NaN      NaN      NaN         NaN
133                 NaN      NaN      NaN      NaN      NaN         NaN
134                 NaN      NaN      NaN      NaN      NaN         NaN
135                 NaN      NaN      NaN      NaN      NaN         NaN
136                 NaN      NaN      NaN      NaN      NaN         NaN
137                 NaN      NaN      NaN      NaN      NaN         NaN
138                 NaN      NaN      NaN      NaN      NaN         NaN
139                 NaN      NaN      NaN      NaN      NaN         NaN
140                 NaN      NaN      NaN      NaN      NaN         NaN
198                 NaN      NaN      NaN      NaN      NaN         NaN
199                 NaN      NaN      NaN      NaN      NaN         NaN
200                 NaN      NaN   4400.0      NaN      NaN         NaN
201                 NaN      NaN      NaN      NaN      NaN         NaN
202                 NaN      NaN      NaN      NaN      NaN         NaN
203                 NaN      NaN      NaN      NaN      NaN         NaN
204                 NaN      NaN      NaN      NaN      NaN         NaN
205                 NaN  12008.0      NaN      NaN      NaN         NaN
206              8300.0      NaN      NaN      NaN      NaN         NaN

JOB_ID        FI_MGR  HR_REP  IT_PROG   MK_MAN  MK_REP   PR_REP  PU_CLERK  \
EMPLOYEE_ID
100              NaN     NaN      NaN      NaN     NaN      NaN       NaN
101              NaN     NaN      NaN      NaN     NaN      NaN       NaN
102              NaN     NaN      NaN      NaN     NaN      NaN       NaN
103              NaN     NaN   9000.0      NaN     NaN      NaN       NaN
104              NaN     NaN   6000.0      NaN     NaN      NaN       NaN
105              NaN     NaN   4800.0      NaN     NaN      NaN       NaN
106              NaN     NaN   4800.0      NaN     NaN      NaN       NaN
107              NaN     NaN   4200.0      NaN     NaN      NaN       NaN
108          12008.0     NaN      NaN      NaN     NaN      NaN       NaN
109              NaN     NaN      NaN      NaN     NaN      NaN       NaN
110              NaN     NaN      NaN      NaN     NaN      NaN       NaN
111              NaN     NaN      NaN      NaN     NaN      NaN       NaN
112              NaN     NaN      NaN      NaN     NaN      NaN       NaN
113              NaN     NaN      NaN      NaN     NaN      NaN       NaN
114              NaN     NaN      NaN      NaN     NaN      NaN       NaN
115              NaN     NaN      NaN      NaN     NaN      NaN    3100.0
116              NaN     NaN      NaN      NaN     NaN      NaN    2900.0
117              NaN     NaN      NaN      NaN     NaN      NaN    2800.0
118              NaN     NaN      NaN      NaN     NaN      NaN    2600.0
119              NaN     NaN      NaN      NaN     NaN      NaN    2500.0
120              NaN     NaN      NaN      NaN     NaN      NaN       NaN
121              NaN     NaN      NaN      NaN     NaN      NaN       NaN
122              NaN     NaN      NaN      NaN     NaN      NaN       NaN
123              NaN     NaN      NaN      NaN     NaN      NaN       NaN
124              NaN     NaN      NaN      NaN     NaN      NaN       NaN
125              NaN     NaN      NaN      NaN     NaN      NaN       NaN
126              NaN     NaN      NaN      NaN     NaN      NaN       NaN
127              NaN     NaN      NaN      NaN     NaN      NaN       NaN
128              NaN     NaN      NaN      NaN     NaN      NaN       NaN
129              NaN     NaN      NaN      NaN     NaN      NaN       NaN
130              NaN     NaN      NaN      NaN     NaN      NaN       NaN
131              NaN     NaN      NaN      NaN     NaN      NaN       NaN
132              NaN     NaN      NaN      NaN     NaN      NaN       NaN
133              NaN     NaN      NaN      NaN     NaN      NaN       NaN
134              NaN     NaN      NaN      NaN     NaN      NaN       NaN
135              NaN     NaN      NaN      NaN     NaN      NaN       NaN
136              NaN     NaN      NaN      NaN     NaN      NaN       NaN
137              NaN     NaN      NaN      NaN     NaN      NaN       NaN
138              NaN     NaN      NaN      NaN     NaN      NaN       NaN
139              NaN     NaN      NaN      NaN     NaN      NaN       NaN
140              NaN     NaN      NaN      NaN     NaN      NaN       NaN
198              NaN     NaN      NaN      NaN     NaN      NaN       NaN
199              NaN     NaN      NaN      NaN     NaN      NaN       NaN
200              NaN     NaN      NaN      NaN     NaN      NaN       NaN
201              NaN     NaN      NaN  13000.0     NaN      NaN       NaN
202              NaN     NaN      NaN      NaN  6000.0      NaN       NaN
203              NaN  6500.0      NaN      NaN     NaN      NaN       NaN
204              NaN     NaN      NaN      NaN     NaN  10000.0       NaN
205              NaN     NaN      NaN      NaN     NaN      NaN       NaN
206              NaN     NaN      NaN      NaN     NaN      NaN       NaN

JOB_ID        PU_MAN  SH_CLERK  ST_CLERK  ST_MAN
EMPLOYEE_ID
100              NaN       NaN       NaN     NaN
101              NaN       NaN       NaN     NaN
102              NaN       NaN       NaN     NaN
103              NaN       NaN       NaN     NaN
104              NaN       NaN       NaN     NaN
105              NaN       NaN       NaN     NaN
106              NaN       NaN       NaN     NaN
107              NaN       NaN       NaN     NaN
108              NaN       NaN       NaN     NaN
109              NaN       NaN       NaN     NaN
110              NaN       NaN       NaN     NaN
111              NaN       NaN       NaN     NaN
112              NaN       NaN       NaN     NaN
113              NaN       NaN       NaN     NaN
114          11000.0       NaN       NaN     NaN
115              NaN       NaN       NaN     NaN
116              NaN       NaN       NaN     NaN
117              NaN       NaN       NaN     NaN
118              NaN       NaN       NaN     NaN
119              NaN       NaN       NaN     NaN
120              NaN       NaN       NaN  8000.0
121              NaN       NaN       NaN  8200.0
122              NaN       NaN       NaN  7900.0
123              NaN       NaN       NaN  6500.0
124              NaN       NaN       NaN  5800.0
125              NaN       NaN    3200.0     NaN
126              NaN       NaN    2700.0     NaN
127              NaN       NaN    2400.0     NaN
128              NaN       NaN    2200.0     NaN
129              NaN       NaN    3300.0     NaN
130              NaN       NaN    2800.0     NaN
131              NaN       NaN    2500.0     NaN
132              NaN       NaN    2100.0     NaN
133              NaN       NaN    3300.0     NaN
134              NaN       NaN    2900.0     NaN
135              NaN       NaN    2400.0     NaN
136              NaN       NaN    2200.0     NaN
137              NaN       NaN    3600.0     NaN
138              NaN       NaN    3200.0     NaN
139              NaN       NaN    2700.0     NaN
140              NaN       NaN    2500.0     NaN
198              NaN    2600.0       NaN     NaN
199              NaN    2600.0       NaN     NaN
200              NaN       NaN       NaN     NaN
201              NaN       NaN       NaN     NaN
202              NaN       NaN       NaN     NaN
203              NaN       NaN       NaN     NaN
204              NaN       NaN       NaN     NaN
205              NaN       NaN       NaN     NaN
206              NaN       NaN       NaN     NaN

In [19]:
## 10. Replacing Null Value with a Specific Value.
import numpy as np
data["MANAGER_ID"] = data["MANAGER_ID"].replace(np.nan,200)
print(data)

    EMPLOYEE_ID   FIRST_NAME    LAST_NAME     EMAIL  HIRE_DATE      JOB_ID  \
0           198       Donald     OConnell  DOCONNEL  21-Jun-07    SH_CLERK
1           199      Douglas        Grant    DGRANT  13-Jan-08    SH_CLERK
2           200     Jennifer       Whalen   JWHALEN  17-Sep-03     AD_ASST
3           201      Michael    Hartstein  MHARTSTE  17-Feb-04      MK_MAN
4           202          Pat          Fay      PFAY  17-Aug-05      MK_REP
5           203        Susan       Mavris   SMAVRIS  07-Jun-02      HR_REP
6           204      Hermann         Baer     HBAER  07-Jun-02      PR_REP
7           205      Shelley      Higgins  SHIGGINS  07-Jun-02      AC_MGR
8           206      William        Gietz    WGIETZ  07-Jun-02  AC_ACCOUNT
9           100       Steven         King     SKING  17-Jun-03     AD_PRES
10          101        Neena      Kochhar  NKOCHHAR  21-Sep-05       AD_VP
11          102          Lex      De Haan   LDEHAAN  13-Jan-01       AD_VP
12          103    Alexander       Hunold   AHUNOLD  03-Jan-06     IT_PROG
13          104        Bruce        Ernst    BERNST  21-May-07     IT_PROG
14          105        David       Austin   DAUSTIN  25-Jun-05     IT_PROG
15          106        Valli    Pataballa  VPATABAL  05-Feb-06     IT_PROG
16          107        Diana      Lorentz  DLORENTZ  07-Feb-07     IT_PROG
17          108        Nancy    Greenberg  NGREENBE  17-Aug-02      FI_MGR
18          109       Daniel       Faviet   DFAVIET  16-Aug-02  FI_ACCOUNT
19          110         John         Chen     JCHEN  28-Sep-05  FI_ACCOUNT
20          111       Ismael      Sciarra  ISCIARRA  30-Sep-05  FI_ACCOUNT
21          112  Jose Manuel        Urman   JMURMAN  07-Mar-06  FI_ACCOUNT
22          113         Luis         Popp     LPOPP  07-Dec-07  FI_ACCOUNT
23          114          Den     Raphaely  DRAPHEAL  07-Dec-02      PU_MAN
24          115    Alexander         Khoo     AKHOO  18-May-03    PU_CLERK
25          116       Shelli        Baida    SBAIDA  24-Dec-05    PU_CLERK
26          117        Sigal       Tobias   STOBIAS  24-Jul-05    PU_CLERK
27          118          Guy       Himuro   GHIMURO  15-Nov-06    PU_CLERK
28          119        Karen   Colmenares  KCOLMENA  10-Aug-07    PU_CLERK
29          120      Matthew        Weiss    MWEISS  18-Jul-04      ST_MAN
30          121         Adam        Fripp    AFRIPP  10-Apr-05      ST_MAN
31          122        Payam     Kaufling  PKAUFLIN  01-May-03      ST_MAN
32          123       Shanta      Vollman  SVOLLMAN  10-Oct-05      ST_MAN
33          124        Kevin      Mourgos  KMOURGOS  16-Nov-07      ST_MAN
34          125        Julia        Nayer    JNAYER  16-Jul-05    ST_CLERK
35          126        Irene  Mikkilineni  IMIKKILI  28-Sep-06    ST_CLERK
36          127        James       Landry   JLANDRY  14-Jan-07    ST_CLERK
37          128       Steven       Markle   SMARKLE  08-Mar-08    ST_CLERK
38          129        Laura       Bissot   LBISSOT  20-Aug-05    ST_CLERK
39          130        Mozhe     Atkinson  MATKINSO  30-Oct-05    ST_CLERK
40          131        James       Marlow   JAMRLOW  16-Feb-05    ST_CLERK
41          132           TJ        Olson   TJOLSON  10-Apr-07    ST_CLERK
42          133        Jason       Mallin   JMALLIN  14-Jun-04    ST_CLERK
43          134      Michael       Rogers   MROGERS  26-Aug-06    ST_CLERK
44          135           Ki          Gee      KGEE  12-Dec-07    ST_CLERK
45          136        Hazel   Philtanker  HPHILTAN  06-Feb-08    ST_CLERK
46          137       Renske       Ladwig   RLADWIG  14-Jul-03    ST_CLERK
47          138      Stephen       Stiles   SSTILES  26-Oct-05    ST_CLERK
48          139         John          Seo      JSEO  12-Feb-06    ST_CLERK
49          140       Joshua        Patel    JPATEL  06-Apr-06    ST_CLERK

    SALARY  MANAGER_ID  DEPARTMENT_ID  Phone Number GET_BONUS  \
0     2600       124.0             50    6505079833     Bonus
1     2600       124.0             50    6505079844     Bonus
2     4400       101.0             10    5151234444     Bonus
3    13000       100.0             20    5151235555  No-Bonus
4     6000       201.0             20    6031236666     Bonus
5     6500       101.0             40    5151237777     Bonus
6    10000       101.0             70    5151238888     Bonus
7    12008       200.0            110    5151238080  No-Bonus
8     8300       205.0            110    5151238181     Bonus
9    24000       200.0             90    5151234567  No-Bonus
10   17000       100.0             90    5151234568  No-Bonus
11   17000       100.0             90    5151234569  No-Bonus
12    9000       102.0             60    5904234567     Bonus
13    6000       200.0             60    5904234568     Bonus
14    4800       103.0             60    5904234569     Bonus
15    4800       103.0             60    5904234560     Bonus
16    4200       103.0             60    5904235567     Bonus
17   12008       101.0            100    5151244569  No-Bonus
18    9000       200.0            100    5151244169     Bonus
19    8200       108.0            100    5151244269     Bonus
20    7700       108.0            100    5151244369     Bonus
21    7800       108.0            100    5151244469     Bonus
22    6900       108.0            100    5151244567     Bonus
23   11000       100.0             30    5151274561  No-Bonus
24    3100       114.0             30    5151274562     Bonus
25    2900       114.0             30    5151274563     Bonus
26    2800       114.0             30    5151274564     Bonus
27    2600       114.0             30    5151274565     Bonus
28    2500       114.0             30    5151274566     Bonus
29    8000       100.0             50    6501231234     Bonus
30    8200       100.0             50    6501232234     Bonus
31    7900       100.0             50    6501233234     Bonus
32    6500       100.0             50    6501234234     Bonus
33    5800       100.0             50    6501235234     Bonus
34    3200       120.0             50    6501241214     Bonus
35    2700       120.0             50    6501241224     Bonus
36    2400       120.0             50    6501241334     Bonus
37    2200       120.0             50    6501241434     Bonus
38    3300       121.0             50    6501245234     Bonus
39    2800       121.0             50    6501246234     Bonus
40    2500       121.0             50    6501247234     Bonus
41    2100       121.0             50    6501248234     Bonus
42    3300       122.0             50    6501271934     Bonus
43    2900       122.0             50    6501271834     Bonus
44    2400       122.0             50    6501271734     Bonus
45    2200       122.0             50    6501271634     Bonus
46    3600       123.0             50    6501211234     Bonus
47    3200       123.0             50    6501212034     Bonus
48    2700       123.0             50    6501212019     Bonus
49    2500       123.0             50    6501211834     Bonus

            FULL_NAME
0     Donald OConnell
1       Douglas Grant
2     Jennifer Whalen
3   Michael Hartstein
4             Pat Fay
5        Susan Mavris
6        Hermann Baer
7     Shelley Higgins
8       William Gietz
9         Steven King
10      Neena Kochhar
11        Lex De Haan
12   Alexander Hunold
13        Bruce Ernst
14       David Austin
15    Valli Pataballa
16      Diana Lorentz
17    Nancy Greenberg
18      Daniel Faviet
19          John Chen
20     Ismael Sciarra
21  Jose Manuel Urman
22          Luis Popp
23       Den Raphaely
24     Alexander Khoo
25       Shelli Baida
26       Sigal Tobias
27         Guy Himuro
28   Karen Colmenares
29      Matthew Weiss
30         Adam Fripp
31     Payam Kaufling
32     Shanta Vollman
33      Kevin Mourgos
34        Julia Nayer
35  Irene Mikkilineni
36       James Landry
37      Steven Markle
38       Laura Bissot
39     Mozhe Atkinson
40       James Marlow
41           TJ Olson
42       Jason Mallin
43     Michael Rogers
44             Ki Gee
45   Hazel Philtanker
46      Renske Ladwig
47     Stephen Stiles
48           John Seo
49       Joshua Patel